/* Schedule.css */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.schedule-container .visible {
    animation: slideIn 0.3s forwards;
}

.schedule-container .hidden {
    animation: slideOut 0.3s forwards;
}